*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: lightseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.music{
    position: absolute;
    width: 350px;
}

.music .img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

