/* Importa la fuente de Google Fonts */
@import url('https://www.dafont.com/es/theme.php?cat=402');

/* Aplica la fuente descargada a todos los elementos */
* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Demi'; /* Reemplaza "Open Sans" con el nombre de la fuente que descargaste */
}


body {
    background-image: url('/media/imagenes/black.jpg'); /* URL de tu imagen o GIF animado */
    background-size: cover; /* Ajustar el tamaño de la imagen para cubrir todo el fondo */
    background-position: center; /* Centrar la imagen en el fondo */
    background-repeat: no-repeat; /* Evitar que la imagen se repita */
    background-color: rgb(0, 0, 0); /* Color de fondo de respaldo */
}

.music{
    position: absolute;
    height: 350px;
    border-radius: 20px;
}

.box-img{
    position: relative;
    width: 21.7em;
    height: 26.5em;
}

.box-img .img{
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.466);
   

}

.play{
    width: 100%;
    outline: none;
}

.texto{
    font-size: 1.1em;
    text-align: center;
    
}

.container{
    max-width: 1440px;
}

.titulo{
    font-size: 6em;
    text-align: center;
    color: #ffffff;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: bisque; /* Color de fondo del footer */
    padding: 10px; /* Espaciado interior del footer */
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1); /* Sombra para separar del contenido */
}

footer, #reproductor {
    width: 100%; 
}

.centered-text {
    position: relative;
    height: 100px; /* Ajusta la altura según sea necesario */
    line-height: 100px; /* Ajusta la altura según sea necesario */
    text-align: center; /* Centrar horizontalmente el texto */
}

.audio-container {
    display: table;
    width: 100%;
    height: 75px; /* Ajusta la altura según sea necesario */
    text-align: center; /* Centrar horizontalmente el contenido */
}

#audio-container > audio::-webkit-media-controls {
    background-color: #ff0000; /* Cambia el color de la barra de tiempo */
}

#info-cancion {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #00000091; /* Cambia esto al color de fondo que desees */
    color: white; /* Cambiar color del texto a blanco */
    font-size: 20px; /* Aumentar tamaño de letra */
    

}
.footer-with-shadow {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.514); 
    border-radius: 10px;
}
.navbar-custom {
    margin-bottom: 50px;
    background-color: rgba(255, 255, 255, 0); /* Color de fondo con transparencia */
    
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
    color: white;
}
.navbar-custom {
    justify-content: space-between; /* Alinea los elementos de la barra de navegación para que estén espaciados uniformemente */
}

.navbar-brand {
    margin-right: auto; /* Mueve el título del navbar a la izquierda */
}

.navbar-nav {
    margin-left: auto; /* Mueve los enlaces del navbar a la derecha */
}

.navbar-custom .navbar-brand {
    padding-right: 50px; /* Añade espacio a la derecha del título del navbar */
}

.navbar-custom .navbar-nav .nav-link {
    padding-left: 50px; /* Añade espacio a la izquierda de cada enlace del navbar */
}


.mi-footer{
    background-color: #000000;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.514); 
    padding-bottom: 100px;
    margin-top: 40px;
    color: #ffffff;
    
}
